extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg" alt="imagen de nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper augue a tempor viverra. Phasellus quis neque nec lorem feugiat vehicula ac non massa. Proin sed rhoncus risus. Quisque fermentum nisl vel risus viverra dapibus. Donec eu lectus nunc. Fusce blandit auctor gravida. Sed dapibus finibus condimentum. Aenean luctus pellentesque metus, at commodo odio egestas eget. Mauris ut nisi fermentum, efficitur enim sed, fringilla sem. Cras posuere congue nisi sed iaculis. Mauris tincidunt, sem ac mattis congue, orci tellus mollis eros, et ornare neque urna at risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus luctus dapibus purus.



    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                .col-md-4
                    img(src="img/icono_destinos.svg" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                .col-md-4
                    img(src="img/icono_precios.svg" class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. 